.orderbook-container
{
  margin-top: 100px;
}

.bid-order {
  max-height: 500px;
  overflow: hidden;
  border-style: outset;
  border-radius: 2%;
  border-left: none;
  border-right: none;
  padding-top: 15px;
  padding-bottom: 10px;
}

.ask-order {
  max-height: 500px;
  overflow: hidden;
  border-style: outset;
  border-radius: 2%;
  border-right: none;
  border-left: none;
  padding-top: 15px;
  padding-bottom: 10px;
}

.ask-order .price {
  color: red;
}

.bid-order .price {
  color: green;
}
